.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 8px;
  border-radius: 8px;
  height: 100%;
  background: #f0f8ff;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-size: 36px;
  font-family: "Merienda One", cursive;
}

.app > * {
  height: 100%;
  text-align: center;
  margin-bottom: 8px;
}

.counter-value {
  margin-top: 23px;
  color: #2d2d2d;
  font-size: 80px;
  font-family: "Merienda One", cursive;
}

.buttons {
  margin-top: 23px;
  display: flex;
  justify-content: center;
}

button {
  border-radius: 5px;
  border: none;
  font-size: 28px;
  background-color: #6b7278;
  color: white;
  margin: 15px;
  cursor: pointer;
  font-family: "Merienda One", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  opacity: 0.75;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
  animation-timing-function: ease-in-out;
}
